<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/css/main.css">
  <title>Socket Game : Game Not Found</title>
</head>
<body>
  <table class='root'>
    <tr class="r1">
      <td class="c1">404! Game Not Found</td>
    </tr>
  </table>
</body>
</html>