<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/1213a7cbad.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/src/css/main.css">
  <script src="/socket.io/socket.io.js"></script>
  <title>Socket Game : Loading</title>
</head>
<body>
  <div class="ment"></div>
  <div class="container">
    <div class="mapTitle">Loading...</div>
    <table class='root'>
      <tbody class='rpoint'>
      </tbody>
    </table>
  </div>

  <script src="/src/js/main.js"></script>
  <script src="/src/js/renderer.js"></script>
</body>
</html>